@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Rubik:wght@300;400;500;700&display=swap');

:root {
    --main-color: rgb(9 18 66);
    --secondary-items: rgb(13 27 100);
    --secondary-color: rgb(254 216 117);
    --text-color: rgb(208 149 37);
}

/*
Rare used colors
rgb(255 188 49)
rgb(255 230 165)
*/

.flex {
    display: flex;
}

.white {
    color: white;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
}

header,
section.first .container,
section.first nav,
section.second,
section.fourth,
footer {
    padding-left: 250px;
    padding-right: 250px;
}

section.third,
section.fifth {
    padding-left: 100px;
    padding-right: 100px;
}

header {
    background-color: var(--main-color);
    color: white;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 45px;
}

header .logo {
    flex-basis: 50%;
    align-items: center;
}

header img {
    width: 30px;
}

header .contact {
    align-items: center;
    margin-right: 10px;
}

header .contact .icon {
    background-color: var(--secondary-items);
    margin-right: 13px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid rgb(38, 56, 148);
    height: 41.6px;
}

header .contact img {
    width: 20px;
}

header .contact .info {
    font-size: 10px;
}

header .logo .name {
    font-weight: 500;
    font-size: x-large;
}

/* Main styleing */
main nav {
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.142);
    color: white;
}

main nav ul {
    list-style: none;
    padding: 0;
    flex-basis: 50%;
    align-items: center;
}

main nav ul li {
    margin-right: 50px;
    font-size: small;
    position: relative;
}

main nav ul li:not(:last-child)::after {
    content: '';
    background-color: rgba(255, 255, 255, 0.525);
    width: 0.5px;
    height: 100%;
    position: absolute;
    right: -25px;
}

main nav ul li span {
    font-weight: bold;
}

main nav ul li:hover {
    cursor: pointer;
}

main nav .sm {
    justify-content: center;
    align-items: center;
}

/* first section */
section.first h1 {
    font-size: 50px;
    margin: 10px 0;
}

section.first .links img {
    width: 20px;
    margin-right: 15px;
}

section.first {
    background: url(imgs/ship-owning-main.jpg);
    background-size: cover;
    height: fit-content;
}

section.first nav li:first-child::before {
    content: '';
    width: 30px;
    height: 1.5px;
    background-color: white;
    position: absolute;
    bottom: -20px;
    transform: translate(10%, 35%);
}

section.first .container {
    padding-top: 160px;
    padding-bottom: 160px;
    width: 64%;
}

section.first .container .details {
    /* font-weight: 300; */
    font-size: smaller;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.764);
}

section.first .container .exp {
    background-color: var(--secondary-color);
    width: fit-content;
    padding: 13px 30px;

}

section.first .container .exp:hover,
section.first .req:hover {
    cursor: pointer;
}

section.first .req {
    color: black;
    background-color: white;
    padding: 20px;
    font-size: smaller;
    font-weight: 500;
    border-color: transparent;
}

.title {
    width: fit-content;
    padding: 0 10px;
    font-size: small;
    position: relative;
}

section.first .title {
    color: white;
    background-color: rgba(0, 0, 0, 0.414);
}

section.second .title,
section.fourth .title,
section.fifth .title {
    color: unset;
    background-color: rgba(0, 0, 0, 0.044);
}

.title::after {
    content: '';
    background-color: yellow;
    position: absolute;
    height: 100%;
    width: 3px;
    left: 0;
}

/* second section */
section.second {
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 10px;
}

section.second img {
    width: 40px;
}

section.second .focus {
    flex-basis: 70%;
}

section.second .services {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 250px;
}

section.second .service {
    width: 42%;
}

section.second .bar {
    width: 1px;
    height: 100%;
    background-color: #acacac;
    margin: 0 25px;
}

section.second .details .serv_title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

section.second .details .serv_detail {
    color: rgb(135, 135, 135);
    font-size: small;
}

/* Third section */
section.third {
    background: linear-gradient(90deg, rgb(255 185 45) 50%, rgb(255 216 141) 100%);
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 300px 0 0 white inset;
}

section.third .header {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 20px;
}

section.third .gas {
    background: url(imgs/gas_truck.jpg);
}

section.third .packaging {
    background: url(imgs/package_soultions.jpg);
}

section.third .contract {
    background: url(imgs/contract\ logis.jpg);
}

section.third .warehouse {
    background: url(imgs/Warehouse_&_Distribution.jpg);
}

section.third .transport {
    background: url(imgs/Transport_ship.jpg);
}

section.third .card {
    background-size: cover;
    align-items: flex-end;
}

section.third .card .details {
    width: 100%;
    padding: 40px 10px 10px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.87) 50%);
}

section.third .card .details .sentence2 {
    color: var(--text-color);
    font-size: smaller;
}

section.third article {
    justify-content: space-between;
}

section.third .card {
    width: calc(100% * 0.2 - 10px);
    height: 320px;
}

section.third .more {
    margin: 40px auto;
    background-color: var(--main-color);
    width: fit-content;
    padding: 16px 40px;
    font-size: small;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

section.third .more::before {
    content: '';
    position: absolute;
    background-color: var(--secondary-items);
    width: 35px;
    height: 30px;
    border-radius: 50%;
    right: -8px;
    bottom: -10px;
}

/* fourth section */
section.fourth {
    margin: 150px 0;
}

section.fourth .title {
    margin: 20px auto;
}

section.fourth h2 {
    text-align: center;
}

section.fourth .cards {
    justify-content: space-around;
}

section.fourth .card img {
    width: 100%;
}

section.fourth .card .img {
    background-color: var(--main-color);
}

section.fourth .card {
    position: relative;
    flex-direction: column;
    width: calc(100% *0.33 - 35px);
}

section.fourth .identity {
    background-color: var(--main-color);
    padding: 26px 30px 16px;
    color: rgba(255, 255, 255, 0.579);
    height: 80px;
}

section.fourth .job {
    font-size: small;
}

section.fourth .card .links img {
    width: 20px;
    margin-right: 15px;
}

section.fourth .card .links {
    position: absolute;
    background-color: var(--secondary-color);
    padding: 10px 0 10px 15px;
    bottom: 60px;
    right: 0;
}

/* fifth section */
section.fifth {
    background: linear-gradient(90deg, var(--main-color) 50%, rgb(244 244 244) 50% 100%);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 20px 20px 0;
}

section.fifth .plane {
    width: 750px;
}

section.fifth .plane img {
    width: 100%;
}

section.fifth .show img {
    width: 20px;
}

section.fifth .show {
    align-items: center;
}

section.fifth .features {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
    height: 180px;
    width: 420px;
    justify-content: space-between;
    align-content: space-between;
}

section.fifth .features .img {
    padding: 12px 14px;
    margin-right: 10px;
    background: linear-gradient(90deg, rgb(255 200 64), rgb(255 223 158));
    border-radius: 50%;
}

section.fifth .details {
    padding: 40px;
    width: 410px;
}

section.fifth .details p {
    font-size: small;
    color: rgba(0, 0, 0, 0.49);
    font-weight: 500;
}

/* footer */
footer {
    background-color: var(--main-color);
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .copy_rights {
    font-size: small;
    font-weight: 300;
}

footer ul {
    list-style: none;
    color: rgba(255, 255, 255, 0.451);
    font-size: small;
}

footer li {
    margin-right: 10px;
}

footer li:hover {
    cursor: pointer;
    color: white;
}

@media (max-width : 767px) {}

@media (min-width : 768px) {
}

@media (min-width : 992px) {}